
        
        
        
        body {
            margin: 0;
            height: 100vh;
            background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4);
            background-size: 400% 400%;
            animation: gradientAnimation 10s ease infinite;
        }

        @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        
        
        
        }

        /* Basic layout styles */
        header, footer {
            background-color: #370277;
            color: white;
            padding: 20px;
            text-align: center;
        }

        main {
            padding: 20px;
        }

        /* Flexbox for layout scalability */
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .card {
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 8px;
            width: 30%;
            margin: 10px;
            padding: 20px;
        }

        /* Responsive images */
        img {
            max-width: 100%;
            height: auto;
        }

        /* Buttons styling */
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ff00b7;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 10px;
        }

        .button:hover {
            background-color: #0056b3;
        }

        /* Media queries for responsive design */
        @media (max-width: 768px) {
            .card {
                width: 100%;
            }
        }
        
        .centered-justified {
            text-align: center; 
            text-justify: inter-word; 
            margin: 0 auto; 
            max-width: 800px;
        }
    
        a {
            color: pink;
            text-decoration: none; /* Removes the underline */
        }
    
        /* Ensure links stay pink even after being clicked */
        a:visited {
            color: pink;
        }
    
        a:hover {
            text-decoration: underline;
        }
    
    </style>


        }
